<div class="card shadow-sm">
    <img src='{{ "assets/images/" + livro.img+ +".jpg"}}' class="bd-placeholder-img card-img-top" width="100%">
    <div class="card-body">
        <p class="card-tex">{{livro.titulo}}</p>
        <p class="card-tex">{{livro.autor}}</p>
        <p class="card-tex">{{livro.genero}}</p>
    </div>
    <div class="btn-goup">
        <button type="button" class="btn btn-sm btn-primary">Comprar</button>
        <button type="button" class="btn btn-sm btn-outline-primary">Detalhes</button>
    </div>
</div>